{% extends "layout.twig" %}

{% block content %}
  <a href="{{ path_for('root') }}">Back to Home</a> 
  
	<form class="equipment-type-form"action="" method="post">
      <fieldset>
        {% for name, type in fields %}
          <input type={{ type }}, name={{ name }} placeholder={{ name }}>
        {% endfor %}
        {# <input name="name" type="text" placeholder="Equipment Type Name"> #}
        
      </fieldset>
      
      <div class="attributes-container">
        <div class="single-attribute-form">

        <fieldset class="attribute-fieldset">
          {% import 'macro.twig' as siteMacros %}

          <p>The current version is {{ constant('Twig_Environment::VERSION') }}</p> 
          {{ attribute(siteMacros, 'addAttribute', ['key', 'value', 'text']) }} {# <p>Type One Foobar</p> #}

          {# {{ attribute(macro, "addAttribute", "Hello") }} #}

          {# <input name="attributes[key]" type="text" placeholder="Attribute key"> | <input name="attributes[value]" type="text" placeholder="Attribute value">
          <button type="button" class="add-field-button">Add another field</button> #}
        </fieldset>

        </div>
      </div>

      <button type="button" class="add-attribute-button">Add another attribute</button>
      <input type="submit" class="button">
    </form>
	 


{% endblock %}